<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Ecuador Cities | HTMX Sample</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <!-- HTMX -->
    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
    <script src="https://unpkg.com/htmx.org@1.5.0"></script>

    <style>
body{
  padding: 20px;
}
    </style>
  </head>
  <body>
      {{ json_file }}
  </body>
</html>
