<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Ecuador Cities | HTMX Sample</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <!-- HTMX -->
    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
    <script src="https://unpkg.com/htmx.org@1.5.0"></script>

    <style>
body {
  padding: 20px;
}

.show {
  padding: 2px;
  border: 1px red;
  border-radius: 5rem;
}
    </style>
  </head>
  <body>
    {% for show in shows %}
    <div class="show">
      <p>{{ show['place'] }}</p>
      <p>{{ show['date'] }}</p>
    </div>
    {% endfor %}
  </body>
</html>
